.slim-column {
  width: 600px; /* Adjust the width as needed */
  margin: 20px auto; /* Center the column horizontally */
  padding: 20px; /* Add padding for spacing inside the column */
  background-color: #f0f0f0; /* Set a background color */
  border: 1px solid #ccc;
  position: relative; /* Add a border if desired */
}

@media (max-width: 768px) {
  .slim-column {
    width: 300px;
  }
}

.intro{
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 40px;

}

@media (max-width: 768px) {
  .intro {
    font-size: 30px;
  }
}

.blog-post-title{
  font-size: 20px;
}

t {
  top: 0; /* Position at the top within SlimColumn */
  left: 0; 
  display: flex;
  padding-left: 20px;
}

.navbar {    
  list-style-type: none;  /* Remove default padding */
  position: absolute;
  top: 0; /* Position at the top within SlimColumn */
  right: 0; /* Position at the right within SlimColumn */
  display: flex;
  padding-right: 20px;
}

@media (max-width: 768px) {
  .navbar {
    font-size: 10px;
    padding-top: 14px;
  }
}

.navbar li {
  margin-right: 20px; /* Adjust spacing between navbar items as needed */
}

.navbar li:last-child {
  margin-right: 0; /* Remove margin from the last navbar item */
}

.navbar a {
  text-decoration: none;
  color: #333; /* Set the text color for the navbar links */
}

.navbar a:hover {
  text-decoration: underline; /* Apply an underline on hover */
}